/**
 * Generic HTML elements.
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #333;
  background: #F7F6F4;
  font: normal 81.3%/1.4em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #ccc;
}
legend {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: .72em 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}

dl dt a {
  display: inline-block;
  padding: .4em;
  margin-left: -.4em;
}

dl dd {
  padding: 0 .4em .74em .4em;
  margin-bottom: 1em;
  color: #555;
  border-bottom: 2px solid #ddd;
}

blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Tables 
 */
table {
  width: 100%;
  margin: 0 0 10px;
}
table th {
  background: #eee;
  border: 0;
  color: #888;
  vertical-align: middle;
  padding: .4em;
}
table th.active {
  background: #ddd;
  color: #fff;
}
table th a {
  color: #888 !important;
}
table th.active a {
  color: #fff;
}

table tr.odd,
table tr.even {
  border: none;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
table tr:hover {
  background: #fafafa;
}
table tr.drag {
  background: #fe7;
}
table tr.drag-previous {
  background: #ffb;
}

table td {
  vertical-align: middle;
  padding: .72em;
  color: #000;
  border: 0;
}
table td:last-child {
  border: none;
}

/**
 * Force browsers to calculate the width of a 'select all' TH element.
 */

table th.select-all {
  width: 1px;
}
table th.active {
  background: #fff;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

th .throbber {
  display: none;
}