/*= Structure
--------------------------------------------------------------------------------*/

#page th a, 
#page th a:visited { color: #333; }

.page-admin table .form-type-checkbox {
  text-align: center;
}

/*= User profile
--------------------------------------------------------------------------------*/
.page-user-edit #edit-profile-main-field-afbeelding { 
  max-width: 250px; 
  float: left; 
  border: 1px solid #ddd; 
  padding: 8px; 
  margin: 14px 16px 0 0; 
  background: #fafafa; 
}
.page-user-edit #edit-profile-main-field-afbeelding .image-preview {
  width: 128px; 
  height: 128px; 
  overflow: hidden; 
  padding: 0; 
  margin: 0 0 8px 0;
}
.page-user-edit #edit-profile-main-field-afbeelding .image-preview img { margin: 0;}
.page-user-edit #edit-profile-main-field-afbeelding label {display: none;}
.page-user-edit #edit-profile-main-field-afbeelding .form-submit {width: 100%; margin: 5px 0 0 0 ;}
.page-user-edit #edit-profile-main-field-afbeelding .image-widget-data {font-size: 10px;}
.page-user-edit #edit-profile-main-field-afbeelding .file-icon {height: 10px;}

.page-user-edit .form-item {margin: 0; padding: 0; overflow: hidden; }

#user-profile-form {min-width: 720px; margin: 0 auto;}

#edit-profile-main-field-rang-und div { width: 50px; float: left;}
#edit-profile-main-field-rang-und  {overflow: hidden;}

.page-user-edit .form-text {font-size: 13px;  margin: 0; }
.page-user-edit .field-name-field-voornaam label,



/*= Password strength
--------------------------------------------------------------------------------*/
.password-indicator {
  height: 10px; 
  border-radius: 2px; 
  overflow: hidden; 
  background: #ddd;
}

.page-user-edit #edit-contact { display: none; }

.exposed-filters .form-item { float: left; }

/* Node edit form */
#body-add-more-wrapper fieldset { background: none; border-bottom: 1px solid #ddd; box-shadow: none; }
#body-add-more-wrapper .ckeditor_links { padding: .4em; }
#body-add-more-wrapper .filter-help,
#body-add-more-wrapper .tips { display: none; }

.node-form .media-item {
  background: none;
  box-shadow: none;
  padding: 0;
  border: none;
}

.node-form .media-thumbnail .media-filename {display: none;}
.node-form .media-thumbnail:hover .media-filename {display: block;}

/* Local tweaks */

.page-admin-content #edit-filters {width: 50%; float: left; border: none;}
.page-admin-content #edit-options {width: 50%; float: left; border: none;}

ul.admin-list li:first-of-type {
  border-top: none;
}

.content select {
  border: none;
  background: #f1f1f1;
  font-size: 1.14em;
  padding: .32em;
  border: 1px solid #ddd;
}


.field-multiple-table th {
  background: #fff;
}

.filterable-option .form-item {
  padding: .4em;
}

/* Ckeditor */
#cke_edit-body-und-0-value {border: none; padding: 0;}
#edit-body-und-0-format {border: none;}
.node-form .form-item {padding: 0; margin: 0;}

.system-status-report tr {
  border: .4em solid #fff;
}

.theme-default .screenshot {
  border: 1px solid #fff;
}

#permissions td.module {
  font-weight: bold;
  font-size: 1.14em;
}